ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}


* {
  text-align: center;
  background-color: lightyellow;
}

h2 {
  color: green;
}

h1 {
  color: red;
}

h1 {
  font-size: 80px;
}

a {
  font-size: 50px;
}
